#app-wrapper {
    display: flex;
    width: 100%;
    height: 100%;

    #loader{
        position:absolute;
        width: 100%;
    }

    #sidenav-container {
        width: 200px;
        padding: 20px;
        background: linear-gradient(to bottom, #1eaf67 0%, #87e48c 89%);

        h1 {
            color: #ffffff;
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 50px;
        }

        .link-wrapper {
            display: flex;
            flex-direction: row;

            p {
                color: black;
                font-size: 18px;
                margin-bottom: 30px;
                cursor: pointer;
            }
    
            mat-icon {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
        }

        #slide-toggle {
            label {
                font-size: 13px;
            }
        }

    }

    #content-wrapper {
        margin: 20px;
        background-color: #f7f2f2;
        border-radius: 10px;
        width: 100%;
    }
}