.circle {
  background-color: rgb(189, 157, 18);
  border-radius: 50%;
 width: 4vw;
 height: 7vh;
 margin: 4px;
}
.example-spacer {
  flex: 1 1 auto;
}

.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: white;
  color: black;
}
